<div id="chat-bot" class="is-hidden">
  <div style="background-color: rgb(219, 214, 206); margin-top: 8px">
    <p style="display: inline-block; margin-left: 8px">Chat BOT</p>
    <button
      type="button"
      id="btnClosechatBot"
      onclick="document.getElementById('chat-bot').classList.add('is-hidden'); document.getElementById('closedChatBot').classList.remove('is-hidden');"
      style="float: right; margin-right: 8px"
      class="btn-close"
      aria-label="Close"
    ></button>
  </div>
  <div id="botMessages"></div>
  <div id="userMessages">
    <form>
      <div id="chatMsg"></div>
      <hr />
      <label id="usrChatLabel"></label><br />
      <input type="text" name="message" id="message" />
      <button
        type="button"
        class="btn btn-success"
        id="chatButton"
        onclick="event.preventDefault(); sendMessage()"
      >
        Enviar
      </button>
    </form>
  </div>
</div>
<div id="closedChatBot" class="is-hidden">
  <button
    type="button"
    style="margin: 9px 0 0 6px"
    class="btn btn-primary"
    onclick="document.getElementById('chat-bot').classList.remove('is-hidden'); document.getElementById('closedChatBot').classList.add('is-hidden');"
  >
    Mostrar chat
  </button>
</div>
